.infoboxes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
  //   margin-right: 5px;
}
.infobox {
  //   width: 23rem;
  flex-basis: 23rem;
  flex-grow: 1;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 1rem;
  //   margin-right: 2rem;
  display: flex;
  cursor: pointer;
  box-shadow: -3px 0px 11px -1px rgba(0, 0, 0, 0.75);
  .icon {
    width: 35%;
  }
  .text {
    h4 {
      //   color: #aaa;
      font-size: 1.8rem;
      font-weight: 300;
    }
  }
}
